body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

/*--------------info-------------*/
.info {
    background-color: #4b9db9;
    height: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.infoLeft {
    padding-left: 160px;
}

.infoRight {
    padding-right: 170px;
}

.infoBlock {
    display: inline;
    padding: 0 10px 0 10px;
    color: white;
    font-size: 12px;
}

/*--------------NavBar-------------*/
.navBar {
    background-color: #0e1e2a;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 160px 0 160px;
}

.logo {
    height: 60px;
    color: black;
}

.button {
    color: white;
    display: inline-block;
    font-size: 15px;
}

/*--------------Button One-------------*/
.buttonOne {
    border: none;
    text-decoration: none;
    background-color: #0e1e2a;
    color: white;
    padding: 25px 20px 25px 20px;
}

.buttonOne:hover {
    background-color: #519cb7;
}

/*--------------Button Two-------------*/
.buttonTwo {
    color: #00bfff;
    background-color: rgba(0,0,0,0);
    text-decoration: none;
    user-select: none;
    outline: none;
    border: 2px solid;
    transition: 0.2s;
    padding: 25px 20px 25px 20px;
}

.buttonTwo:hover {
    background-color: rgb(85, 144, 162);
}

/*--------------Block One-------------*/
.blockOne {
    position: relative;

}

.imgOne {
    width: 100%;
    filter: brightness(60%);
}

.textOne{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 40px ;

}

